
:root {
  --colorPrincipal : #1D1D1D;
  --fontWeightParagraph : 400;
  --fontWeightTitle : 700;
}

body{
  /* background: orange; */
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.header-container{
  padding-block-end: 60px;
  position: sticky;
  background: white;
  top: 0;
  right: 0;
  left: 0;
}

.wrapper {
  max-width: 1366px;
  margin: auto;
}

.header-content-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  background: white;
  /* position: fixed; */
  /* top: 0; */
}

.header-logo {
  width: 246px;
  margin-right: 251px;
  /* height: 40px; */
}

.header-main-menu {
  display: flex;
  gap: 32px;
  text-transform: uppercase;
  width: 254px;
  text-align: -webkit-match-parent;
  margin-inline-end: 358px;

}

.header-main-menu p {
  margin: 0;
  display: flex;
}


.header-main-menu p a {
  color: var(--colorPrincipal);
  font-size: 24px;
  text-decoration: none;
  font-weight: 400;
  margin: 0;
  height: 82px;
  display: flex;
  align-items: center;
}

.header-icons {
  width: 80px;
  height: 28px;
  display: flex;
  gap: 30px;
}

.header-icons img {
  width: 21px;
  height: 21px;
}

.main-container{
  background: #FF906D;
}

.main-background {
  background-color: white;
}

.main-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* margin-block-start: 100px; */
  background: white;
}

.main-grid-pose {
  margin-inline: 24px;
  display: block;
  width: 80px;
}

.main-grid-pose a {
  display: block;

}

.main-grid-pose img:hover{
  border: 1px solid #4276FB;
  height: 120px;
  box-sizing: border-box;
}

.main-grid-image-principal {
  margin-inline-end: 56px;
  display: flex;
  overflow: auto;
  width: 616px;
}

.main-grid-image-principal img {
  width: 100%;
  width: 620px;
}
.main-grid-description {
  width: 424px;
}

.image-principal-btn {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.image-principal-btn a {
  padding-inline: 10px;
  padding-block: 0px;
  border-radius: 50%;
  border: 1px solid var(--colorPrincipal);
  background: white;
  color: black;
  text-decoration: none;
}

.main-grid-description h2 {
  font-weight: var(--fontWeightTitle);
  font-size: 46px;
  max-width: 440px;
  margin: 0;
  line-height: 56px;
}

.main-grid-description h2::first-letter {
  text-transform: uppercase;
}

.price-hoodie {
  font-size: 30px;
  margin-block-start: 16px;
  margin-block-end: 40px;
  font-weight: var(--fontWeightParagraph);
}
/* el margin top de 16px colapsa con el margin bottom de 40px y no se */
.all-sizes {
  font-size: 20px;
  margin-block: 16px;
  line-height: 24px;
}

.size-hoodie {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 12px;
  margin-block-end: 40px;
}

.size-hoodie a {
  text-transform: uppercase;
  border: 1px solid black;
  background: white;
  font-size: 20px;
  font-weight: var(--fontWeightParagraph);
  border-radius: 50%;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--colorPrincipal);
}

.size-hoodie a:hover {
  border: 1px solid #4276FB;
  color: #4276FB;
}

.inputs {
  display: block;

}

.inputs input {
  width: 100%;
  text-transform: uppercase;
  padding-block: 16px;
  margin-block-end: 8px;
  color: white;
  font-size: 22px;
  line-height: 24px;
  border: none;
  border-radius: 3px;
}

.input1 {
  background: var(--colorPrincipal);
  border: 3px solid transparent;
  width: 424px;
  box-sizing: border-box;
  height: 60px;
}

.input1:hover {
  background: white;
  color: black;
  font-weight: var(--fontWeightTitle);
  box-sizing: border-box;
  border: 2px solid black;
  width: 424px;
  box-sizing: border-box;
}

.input2:hover {
  background: white;
  color: #4276FB;
  font-weight: var(--fontWeightTitle);
  box-sizing: border-box;
  border: 2px solid #4276FB;
  width: 424px;
  box-sizing: border-box;
}

.input2 {
  background: #4276FB;
  margin-block-end: 40px;
  border: 3px solid transparent;
  width: 424px;
  box-sizing: border-box;
  height: 60px;

}

.description-hoodie {
  line-height: 32px;
  font-weight: var(--fontWeightParagraph);
  font-size: 18px;
  width: 424px;
  margin-block-end: 40px;
}

.sizing {
  color: var(--colorPrincipal);
}

.main-other-models {
  text-align: center;
  padding-block: 150px;
  background: white;
}

.title-section-other-models {
  font-size: 75px;
  margin-block-start: 0;
  margin-block-end: 64px;
}

.other-models-content {
  display: flex;
  column-gap: 55px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.name-models{
  font-size: 24px;
  line-height: 32px;
  margin-block-start: 24px;
  margin-block-end: 12px;
  font-weight: var(--fontWeightTitle);
}

.price-models {
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--fontWeightTitle);
}

.main-background-image img {
  width: 100%;
}

.footer-container {
  background: var(--colorPrincipal);
  /* height: 320px; */
}

.footer-content {
  text-align: center;
  padding-block: 64px;
}

.footer-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  margin-block-start: 48px;
}

.footer-redes a {
  padding-block: 24px;
  padding-inline: 22px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.main-modal-container{
  position: relative;
}

.main-modal {
  background-color: white;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 275px;
  width: 460px;
  bottom: 0;
  padding: 20px 40px;
  box-sizing: border-box;
  height: 100vh;
  display: none;
  /* border: 1px solid red; */
}

.close {
  text-align: end;
  font-size: 30px;
  margin: 0;
  font-weight: 400;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 350px;
  height: 50px;
  box-sizing: border-box;
}

.close:hover {
  color: red;
  border: 3px solid red;
}

.modal-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-align {
  text-align: center;
  margin: 10px 0;
}

.modal-text {
  width: 130px;
}

.modal-align p {
  margin: 0;
}

.modal-hoddie-price {
  display: flex;
  gap: 16px;
  align-items: flex;
}

.modal-hoddie-price p {
  margin: 0;
  margin-block-end: 16px;
}

.modal-flex.price{
  margin-top: 128px;
  font-size: 20px;
}

.descuentos {
  font-size: 12px;
  color: #4A4A4A;
  text-align: center;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  padding-block: 16px;
  background: #4276FB;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  font-weight:  var(--fontWeightTitle);
  margin-block-end: 32px;
}

.shipping-time {
  font-size: 15px;
  margin: 0;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
}

#image1{
  height: 512px;
  width: 340px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

#image1:hover {
  border: 3px solid #4276FB;
}

#image2{
  height: 512px;
  width: 340px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

#image3{
  height: 512px;
  width: 340px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

#image2:hover {
  height: 512px;
  width: 340px;
  border: 3px solid #4276FB;
  box-sizing: border-box;
}

#image3:hover {
  height: 512px;
  width: 340px;
  border: 3px solid #4276FB;
  box-sizing: border-box;
}